@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Oswald:wght@200;300;400;700&family=Vina+Sans&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;




}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
.section-1{
    width: 100%;
    
    background-color:#141010;
    color:#030202 ;
    display: flex;
    flex-direction: column;
   
}
.navbar{
    width: 100%;
    color: #fff;
    height: 10vh;
    background: #030202;
    display: flex;
    justify-content: space-between;
    animation: animate 0.7s 0.4s forwards;
    position:fixed;
    top: -8rem;
    z-index: 10;
    
}
@keyframes animate{
    0%{
        top: -8rem;
    }
    100%{
        top: 0;
    }
}
.logo{
    
    font-size: 3rem;
    font-weight: 400;
    margin: 0.5rem 10rem;
    letter-spacing: 0.1rem;
    font-family: italic;
    position: relative;

}
.logo span{
    font-weight: bold;
    text-transform: lowercase;
}
.p-1{
    color:#eee;
    font-size: 5rem;
    font-weight: bolder;
    position: absolute;
    top: 0px;
    margin-left: -0.2rem;
    margin-top: -1.5rem;
    left: -21px;
    
}
.p-2{
    font-size: 5rem;
    font-weight: bolder;
    position: absolute;
    top: -20px;
    left: -20px;
    color: #d41173;
}
.nav-list{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    
}
.nav-list li{
    margin-right:3rem ;
    transition: all 0.4s;
    cursor: pointer;
}
.nav-list li:hover{
    transform: scale(2);
    color: #d41173;
}
.bs{
    margin-right: 8rem;
    margin-top: 1.5rem;
    font-size: 3rem;
}
.btn{
    width: 60%;

    display: flex;
    align-items: center;

    
}
button{
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    border:none ;
    font-size: 1.3rem;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #080808;
    cursor: pointer;
    color: #030202;
}
.signup{
    background-color:#F56EB3;
}
.login{
    background-color: #eee;
}
button:hover{
    background-color: #922f61;
}
.wrapper{
    height: 60vh;
    margin-top: 16rem;
    margin-left: 8rem;
    display: flex;
    justify-content: space-around;

}
.section-heading{
    font-size: 5rem;

    text-transform: uppercase;
    color: #fff;
    margin-top: 0rem;
    letter-spacing: 1rem;
    font-weight: 500;
}
.pargraph{
    width: 70%;
    margin-top: 1rem;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 2.4rem;
    color: #eee;
    font-weight: 100;
    
}
.btn-2{
    width: 50%;
    margin-top: 4rem;
    
}
.w{
    width: 4rem;
    border-radius: 4px;
    height: 2rem;
    padding: 1rem 3rem;
    border: 1px solid #080808;
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 2rem;
    
    color: #fff;
    color: #030202;
    background-color: #F56EB3;
}
.f{
    width: 4rem;
    height: 2rem;
    padding: 1rem 4.3rem; 
    border: 1px solid #080808;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 4px;
    background-color: #eee;
    
    
    color:#030202;
   
}
.hv:hover{
    background-color: #9b3267;
}
.image{
    margin-right: 7rem;
    margin-bottom: 4rem;
    position: relative;
}

img{
    width: 50rem;
    height:   90%;
    background-size: cover;
    margin-right: 3rem;
}
.imd{
    position: absolute;
    right: 12rem;
}
.part-1{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
i{
    font-size: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
}


 .login-page{
    width: 100%;
    height: 50vh;
    position: relative;
    display: none;
    
   
   
 }
.login-page-content{
    width: 37%;
    
    border: 0.1rem solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 30%;
    

}
.login-page-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    
}
.login-page-form input{
    border: 1px dotted #d41173;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
}
.login-page-content .logo{
    position: absolute;
    top: -3.2rem;
    left: -7rem;
}
.logo i{
    position: absolute;
    top: 1.5rem ;
    left: 44rem;
    font-size: 3rem;
}
.san{
    
    margin: 1rem;
    display: flex;
    flex-direction: column; 
    
    align-items: center;
}
.san a{
    font-size: 1.5rem;
}
.form-login-link{
    margin: 1rem;
}
.san span{
    font-size: 2rem;
}
/* signup */
.signup-page{
    width: 100%;
    height: 50vh;
    position: relative;
    display: none;
    margin-top: 10rem;
   
   
 }
.signup-page-content{
    width: 37%;
   
    border: 0.1rem solid #eee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12%;
    left: 30%;
    position: relative;

}
.signup-page-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem;
    
}
.signup-page-form input{
    border: 1px dotted #d41173;
    margin: 1rem;
    padding: 1rem;
    border-radius: 30px;
}
.signup-page-content .logo{
    position: absolute;
    top: -3.2rem;
    left: -7rem;
}
.logo i{
    position: absolute;
    top: 1.5rem ;
    left: 44rem;
    font-size: 3rem;
}
.form-signup-link{
    margin: 1rem;
}
.sidebar{
    visibility: hidden;
    width: 100%;
    background-color:#eee;
    margin: 1rem 2rem;
    padding: 10px;
    z-index: 2;  
}
.head{
    width: 100%;
    height:5vh;
    
    padding: 7px 5px;
    text-align: center;
    background-color: #d41173;
   
    
 }
 .head p{
    font-size: 1rem;
 }

.foot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
     
    border-top: 1px solid #333;
}
 h2{
    font-size: 20px;
    color: red;
}
h3{
    font-size:20px ;
    color: red;

}
.product{
    visibility: hidden;
    width: 100%;
    margin-top: 10rem;
    display: grid;
    gap: 30px 1px;
    grid-template-columns: auto auto auto;
    
   
}

.box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    
    
    margin-left: 4rem;
}
.img-box{
    width: 100%;
   
    display: flex;
    justify-content: space-around;
    position: relative;
}
.img-box img{
    width: 25rem;
   

}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height: 110px;
    
}
.b{
    display: flex;
    margin-right: 5rem;
    
}
.bottom{
    margin-bottom: 3rem;
    
}
.bottom button{
    width: 10rem;
    background-color :#F56EB3;
}
.bottom button:hover{
    background-color: #9b3267;
}
.bottom span{
    color: #080808;
}
.img-box p{
    position: absolute;
    top: 4rem;
    right: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.bottom h2{
    margin: 1rem 0 1rem 0;
}
.cart-item{
    width: 30rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #aaa;
    margin:10px 0px 10px 30px;
}
.row-img{
    width: 43px;
    height: 43px;
    border-radius: 50px;
    
    display: flex;

}
.cart-item p{
   color: #030202;
   font-size: 1.6rem;
}
.cart-item h2{
    font-size: 1.5rem;
}
.rowing{
    border-radius: 50px;
    max-width: 43px;
    max-height: 43px;
}

.fa-trash{
    font-size: 12px;
    color: #030202;
   
}
.fa-trash:hover{
    color: red;
}
/* about */
.section-3{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
   
}
.section-3-heading h2{
    font-size: 3rem;
    margin-left: 25rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: #030202;

}
.section-3-heading i{
    color: red;
}
.line{
    width: 21rem;
    height: 0.4rem;
    background-color: #d41173;
    position: absolute;
    left: 5rem;
    top: 0rem;
   
}

.about-wrapper{
    display: grid;
    gap: 90px 60px;
    grid-template-columns: auto auto auto auto;
    margin-left: 4rem;
    
}
.abouts{
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     position: relative;
     height: 20rem;
     width: 70%;
     margin-left: 9rem;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 2rem;

}
.abouts p{
    font-size: 1.3rem;
    font-weight: 200;
}
.abouts h2{
    color: #080808;
}
#fasd{
    position: absolute;
    top: -3rem;
    left: 0rem;
    color: #d41173;
}
.fa-regular{
    color: #d41173;
}